.contact-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20%;

    @media screen and (min-width: 768px) {
        margin-left: 15%;
        padding: 0;
        width: 70%;
        grid-template-columns: 1fr 1fr;
    }

    @media screen and (max-width: 600px) {
        margin-left: 5%;
        margin-right: 5%;
    }
}

.contact-form {
    padding: 20px;
    background-color: #f6f6f6;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.contact-form h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.form-group {
    margin-bottom: 20px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    color: #333;
    background-color: #e4e4e4;
}

.form-group textarea {
    resize: vertical;
    min-height: 100px;
    background-color: #e4e4e4;
}

.submit-btn {
    display: block;
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-btn:hover {
    background-color: #0056b3;
}

.contact-image {
    text-align: center;
    padding-left: 0%;
    margin-left: 0%;
}

.contact-image img {
    margin-top: 8%;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.contact-image img {
    @media screen and (max-width: 600px) {
        display: none;
    }
}